[Unit]
Description=swayidle
Conflicts=swayidle-locked.service

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w -d \
    lock 'systemctl --user start swaylock.service' \
    timeout 300 'loginctl lock-session' \
    before-sleep 'loginctl lock-session' \
    idlehint 60

[Install]
WantedBy=sway-session.target
