[Unit]
Description=swayidle-locked
Conflicts=swayidle.service

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -d -w \
    timeout 30 'niri msg action power-off-monitors' \
    resume 'niri msg action power-on-monitors' \
    idlehint 10
