[Unit]
Description=waybar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar

[Install]
WantedBy=sway-session.target
