!.elisp
!.emacs.d
.VirtualBox/
.android/
.bash_history
.bundle/
.emacs.d/.org-id-locations
.emacs.d/history
.emacs.d/server/
.gem/
.gimp-2.8/
.gitconfig
.gnucash/
.gnupg/
.grip/
.gtk-bookmarks
.history
.hoe_template/
.irb_history
.lesshst
.recentf
.rivmrc
.ssh/
.thumbnails/
.vim/
.viminfo
.zenmap/
AppData
CVS
Downloads
WikidPad.config
WikidPad_Error.log
_lesshst
_viminfo
archive
bin/*.exe
eagle/
eaglerc.usr
eaglerc.usr.sav
home.git/
prj/
project/
src/
temp/
test
