Emacs.font: Monospace 11
Emacs.FontBackend: xft
Emacs.menuBar: off
Emacs.verticalScrollBars: off

Rxvt.font: xft:Monospace-11
Rxvt.boldFont: xft:Monospace-11
Rxvt.transparent: true
Rxvt.scrollBar: false

XTerm*faceName: Monospace-11
XTerm*metaSendsEscape: true
UXTerm*metaSendsEscape: true
XTerm*colorBDMode: true
XTerm*utf8: 1
XTerm*cursorBlink: false

#include ".Xresources.sexy"

Xft.hinting: true
Xft.dpi: 92
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
