/* based on https://github.com/rubyowo/dotfiles/blob/f925cf8e3461420a21b6dc8b8ad1190107b0cc56/config/waybar/style.css */

@import "frappe.css";

* {
    /* font-family: Arial, JetBrainsMono Nerd Font Propo; */
    font-family: Arimo Nerd Font Propo;
    font-size: 11pt;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 0.501rem;
    background-color: @surface0;
    margin-left: 0rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 0.501rem;
    padding: 0.2rem 0.6rem;
}

#workspaces button.focused {
    background-color: shade(@blue, 0.3);
    color: @sky;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 0.501rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-turbostat,
#custom-ports,
#custom-disks,
#custom-weather,
#network,
#memory,
#cpu,
#backlight,
#language,
#temperature,
#custom-lock,
#custom-power {
    border-left: 1px solid black;
    background-color: @surface0;
    padding: 0.1rem 0.6rem;
    margin: 0px 0;
}

#custom-turbostat {
    min-width: 4rem;
}

#clock, #tray, #pulseaudio {
    margin-left: 0.1rem;
}

#idle_inhibitor {
    margin-left: 1rem;
}

#clock {
    border-radius: 0.501rem;
}

#custom-weather {
    border-radius: 0 0.501rem 0.501rem 0;
}

#backlight {
    color: @yellow;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    border-radius: 0.501rem 0px 0px 0.501rem;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
    border-radius: 0.501rem;
}

#idle_inhibitor {
    background-color: #ff0000;
    border-radius: 0.501rem;
    background-color: @surface0;
    padding: 0.1rem 0.6rem;
}
