@import "base.css"; 
@import "frappe.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Cascadia Mono;
    font-size: 12px;
}

#custom-turbostat {
    background: #206040;
    padding: 0px 5px;
}
