*.elc
*~
.DS_Store
.cask
.places
.yas-compiled-snippets.el
/.sx/
/ensime/
/url/
/var/
auto-save-list
backups
bookmarks
elpa
emms
ido.last
recentf
session.*
site-lisp/adventur-mode
swank
tramp
autoinsert/
settings.el
